*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;

  min-height: 100vh;

  background:
  linear-gradient(
    135deg,
    #667eea,
    #764ba2
  );
}

/* CONTAINER */

.container{

  width: 100%;

  min-height: 100vh;

  padding: 50px;

  background: white;
}

/* HEADING */

h1{
  text-align: center;

  margin-bottom: 40px;

  font-size: 50px;

  color: #222;
}

/* PROGRESS BAR */

.progress-bar{

  width: 100%;

  height: 12px;

  background: #ddd;

  border-radius: 20px;

  margin-bottom: 40px;
}

.progress{

  width: 25%;

  height: 100%;

  background: blue;

  border-radius: 20px;

  transition: 0.4s;
}

/* FORM STEP */

.form-step{
  display: none;
}

.form-step.active{
  display: block;
}

/* STEP TITLE */

h2{

  margin-bottom: 30px;

  color: #222;

  font-size: 35px;
}

/* LABEL */

label{

  display: block;

  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 18px;

  color: #333;
}

/* INPUTS */

input,
select,
textarea{

  width: 100%;

  padding: 18px;

  border: 1px solid #ccc;

  border-radius: 10px;

  outline: none;

  font-size: 16px;
}

textarea{
  resize: none;
  height: 120px;
}

/* BUTTONS */

.buttons{

  display: flex;

  justify-content: space-between;

  margin-top: 40px;
}

button{

  padding: 15px 35px;

  border: none;

  border-radius: 10px;

  background: blue;

  color: white;

  font-size: 16px;

  cursor: pointer;

  transition: 0.3s;
}

button:hover{

  background: darkblue;

  transform: scale(1.05);
}

/* SUMMARY */

#summary p{

  background: #f4f4f4;

  padding: 15px;

  border-radius: 10px;

  margin-bottom: 15px;

  color: #222;
}

/* MOBILE */

@media(max-width: 768px){

  .container{
    padding: 20px;
  }

  h1{
    font-size: 35px;
  }

  h2{
    font-size: 28px;
  }

  .buttons{
    flex-direction: column;
    gap: 15px;
  }

  button{
    width: 100%;
  }

}