*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;

  min-height: 100vh;

  background:
  linear-gradient(
    135deg,
    #6a11cb,
    #2575fc
  );

  color: white;
}

/* MAIN CONTAINER */

.main-container{
  width: 100%;
  min-height: 100vh;

  display: flex;
}

/* LEFT SECTION */

.left-section{
  width: 40%;

  padding: 80px 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
  rgba(255,255,255,0.08);
}

.left-section h1{
  font-size: 70px;
  margin-bottom: 30px;
}

.left-section p{
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 50px;
}

/* STEP INDICATOR */

.step-indicator{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.step{
  display: flex;
  align-items: center;
  gap: 15px;

  opacity: 0.5;
}

.step span{
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background: white;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
}

.active-step{
  opacity: 1;
}

/* RIGHT SECTION */

.right-section{
  width: 60%;

  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background:
  rgba(255,255,255,0.12);

  backdrop-filter: blur(10px);
}

/* PROGRESS BAR */

.progress-bar{
  width: 100%;
  height: 12px;

  background:
  rgba(255,255,255,0.2);

  border-radius: 20px;

  margin-bottom: 40px;
}

.progress{
  width: 25%;
  height: 100%;

  background: yellow;

  border-radius: 20px;

  transition: 0.4s;
}

/* FORM */

form{
  width: 100%;
}

.form-step{
  display: none;
}

.form-step.active{
  display: block;
}

h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.input-group{
  margin-bottom: 25px;
}

label{
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input,
select,
textarea{
  width: 100%;

  padding: 18px;

  border: none;
  border-radius: 12px;

  font-size: 16px;

  outline: none;
}

textarea{
  resize: none;
  height: 120px;
}

/* BUTTONS */

.btns{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

button{
  padding: 16px 35px;

  border: none;
  border-radius: 12px;

  background: yellow;

  color: black;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

button:hover{
  transform: scale(1.05);
  background: white;
}

/* SUMMARY */

#summary p{
  background:
  rgba(255,255,255,0.2);

  padding: 15px;

  border-radius: 10px;

  margin-bottom: 15px;
}

/* MOBILE */

@media(max-width: 900px){

  .main-container{
    flex-direction: column;
  }

  .left-section,
  .right-section{
    width: 100%;
  }

  .left-section{
    padding: 40px 20px;
  }

  .right-section{
    padding: 30px 20px;
  }

  .left-section h1{
    font-size: 45px;
  }

  h2{
    font-size: 30px;
  }

}